$default-font-color: #2E2E30;
$border-color: #D5D8EC;
$background-color: #DFDFDF;
body {
  margin: 0;
  // font-family: Inter, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto,
  //   Helvetica, Arial, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

.container {
  width: 85%;
  height: 100%;
}

//main page
.main-content {
  width: 100%;
  height: 85%;
  background-color: blueviolet;
}

//sidebar css
.side-nav {
  width: 15%;
  height: 100%;
  border-right: 1px solid $border-color;
  
  

  .logo {
    
    margin-top: 30px;
    padding-left: 10px;
    font-size: 25px;
    font-weight: 700;
    color: $default-font-color;
    span {
      margin-left: 10px;
    }
  }

  .user-infor {
    display: flex;
    height: 300px;
    border: 1px solid $border-color;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    color: $border-color;
    .user-image {
      width: 100px;
      height: 100px;
      border: 1px solid $border-color;
      border-radius: 50%;
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      .user-outlined {
        font-size: 50px;
      }
    }

    .user-name {
      width: 200px;
      height: 50px;
      text-align: center;
      margin-top: 20px;
      border: 1px solid $border-color;
      line-height: 0.1;
      padding: 13px 0 10px 0;
      border-radius: 10px;
      background-color: $background-color;
      .name {
        font-size: 20px;
        color: $default-font-color;
        font-weight: 700;
      }
      .user-location {
        color: #5c5c61;
        font-size: 12px;
      }
    }
  }

  .sidebar-menu {
    border: 1px solid $border-color;
    height: 400px;
    .page {
      margin: 30px 0 0 30px;
    }
    
    .sidebar-list {
      border: 1px solid $border-color;
      padding-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      li {
        width: 210px;
        height: 40px;
        border: 1px solid $border-color;
        color: red;
        font-size: 16px;
        list-style-type: none;
        margin-top: 20px;
        padding:5px 0 0 10px;
        border-radius: 10px;
      }

      li:hover {
        background-color: $background-color;
      }

      span {
        margin-left: 5px;
      }
    }


  }

  .logout{
    width: 100%;
    height: 100px;
    border: 1px solid $border-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

//navbar css
.nav-bar {
  width: 100%;
  border: 1px solid black;
  height: 10%;
}

//footer css
.footer {
  width: 100%;
  height: 5%;
  border: 1px solid black;
  text-align: center;
}
